@media (pointer: coarse) {
  .submit:active {
    background-color: var(--highlight-color);
  }
  .confetti:active {
    transform: scale(1.2);
  }
}

@media (pointer: fine) {
  .submit:hover {
    background-color: var(--highlight-color);
  }
  .confetti:hover {
    transform: scale(1.2);
  }
}

@media screen and (min-width: 600px) {
  body {
    margin: 30px 50px;
  }
  .description {
    margin-bottom: 70px;
  }
  .song {
    margin-bottom: 70px;
  }
  label {
    margin-bottom: 30px;
  }
  .code-puzzle-container {
    width: 80%;
    padding: 50px;
    margin: 100px auto;
  }
  .emoticons {
    font-size: 20px;
  }
}

@media screen and (min-width: 600px) and (max-height: 500px) {
  h1 {
    margin: 20px 0 40px 0;
  }
  .code-puzzle-container {
    width: 80%;
    padding: 30px;
    margin: 50px auto;
  }
  .emoticons {
    font-size: 20px;
  }
}

@media screen and (min-width: 900px) {
  body {
    margin: 30px 150px;
  }
  .description {
    margin-bottom: 100px;
  }
  .song {
    margin-bottom: 100px;
  }
  label {
    margin-bottom: 50px;
  }
  .code-puzzle-container {
    width: 80%;
    padding: 50px;
    margin: 100px auto;
  }
  .emoticons {
    font-size: 30px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    margin: 30px 250px;
  }
  .code-puzzle-container {
    width: 80%;
    padding: 50px;
    margin: 150px auto;
  }
  .emoticons {
    font-size: 35px;
  }
}
