@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "./media-queries.css";

:root {
  --background-color-dark: #0b0c10;
  --background-color: #1f2833;
  --color-font: #c5c6c7;
  --highlight-color: #66fcf1;
  --highlight-color-dark: #45a29e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

body {
  background: var(--background-color-dark);
  background: radial-gradient(
    circle at top right,
    var(--background-color-dark) 0%,
    var(--background-color) 95%
  );
  color: var(--color-font);
  text-align: center;
  padding: 30px 10px;
}

h1 {
  padding: 100px 10px 80px 10px;
  font-size: 70px;
  color: var(--highlight-color);
}

.description {
  padding-bottom: 50px;
  font-size: 17px;
}

.song {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.section-heading {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

label {
  font-size: 15px;
  padding-bottom: 20px;
}

input {
  width: 40px;
  max-height: 40px;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

input:focus {
  border: 2px solid var(--highlight-color);
  border-radius: 2px;
  outline: none;
}

.highlight {
  color: var(--highlight-color-dark);
}

.submit {
  width: 90px;
  height: 40px;
  color: var(--color-font);
  background-color: transparent;
  border: 3px solid var(--highlight-color);
  border-radius: 5px;
}
